
.detail-title {
    height: 120px;
    display: flex;
}

.detail-title-right {
    height:100%; 
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
}

.detail-title-right-bottom {
    margin-right:14px;
    font-size:16px;
}

.back {
    height: 120px;
    width: 60px;
    line-height: 120px;
    font-size: 40px;
}

.back:hover {
    font-size: 60px;
    word-wrap: break-word;
    color: #00a0e9;
}

.detail-title-content{
    height: 80px;
    width: 100%;
    font-size: 40px;
    line-height: 80px;
    color: #3d3d3d;
    font-weight: 900;
}

.detail-title-time {
    height: 40px;
    line-height: 40px;
    display: flex;
    width: 100%;
}

.detail-operater {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.edit {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #3399EA;
}
.edit:hover{
    font-size: 25px;
}

.delete {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #CA0C16;
}
.delete:hover{
    font-size: 25px;
}

.markdown {
    height: 100%;
    width: 100%; 
    padding: 10px;
}
