<div style="padding: 10px;">
  <div class="detail-title">
    <i nz-icon [type]="'left-square'" class="back" (click)="back()"></i>
    <div class="detail-title-right">
      <div class="detail-title-content">{{blog.title}}</div>
      <div class="detail-title-time">
        <div>
          <span class="detail-title-right-bottom">{{blog.updatetime | stringSubPipe:19}}</span>
          <span class="detail-title-right-bottom">阅读数: {{blog.view}}</span>
        </div>
        <div style="flex-grow: 1;"></div>
        <div class="detail-operater" *ngIf="!blog.user ? false:user.id == blog.user.id">
          <div class="edit" (click)="edit(blog.id)" nz-icon [type]="'edit'" nzTitle="编辑" nzPlacement="top" nzTrigger="hover"
            nz-tooltip nzOverlayClassName="edit"></div>
          <div class="delete" (click)="delete(blog.id)" nz-icon [type]="'delete'" nzTitle="删除" nzPlacement="top"
            nzTrigger="hover" nz-tooltip nzOverlayClassName="delete"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <markdown class="markdown" [data]="blog.content"></markdown>
</div>