<div style="padding: 10px;">
  <div class="detail-title" nz-row>
    <div nz-col nzSpan="2">
      <i nz-icon [type]="'left-square'" class="back" (click)="back()"></i>
    </div>
    <div nz-col nzSpan="22" style="height:100%;">
      <div class="detail-title-content">{{blog.title}}</div>
      <div class="detail-title-time">
        <span style="margin-right:14px; font-size:16px;">{{blog.updatetime | stringSubPipe:19}}</span>
        <span style="margin-right:5px; font-size:16px;">阅读数:</span>
        <span style="margin-right:14px; font-size:16px;">{{blog.view}}</span>
        <div class="detail-operater">
          <div class="edit" (click)="edit(blog.id)" nz-icon [type]="'edit'"></div>
          <div class="delete" (click)="delete(blog.id)" nz-icon [type]="'delete'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <markdown class="markdown" [data]="blog.content"></markdown>
</div>