.app-header{
    height: 48px;
    width: 100%;
    display: flex;
}

.header-side {
    flex: 1;
}

.header-content {
    flex: 2;
    align-items: center;
    display: flex;
}

.logo {
    align-items: center;
    height: 48px;
    line-height: 48px;
    
}

.heder-search {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.source{
    color: #3D3D3D;
    font-size: 14px;
    padding-right: 5px;
    height: 48px;
    line-height: 48px;
}
.write{
    color: #3D3D3D;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    height: 48px;
    line-height: 48px;
}

.write:hover{
    color: #CA0C16;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
}
.source:hover {
    color: #3399EA;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
}

.avatar {
    height: 48px;
    line-height: 48px;
    width: 48px;
}

.header-item {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    width: 70px;
    background: #fff;
    border-radius: 5px;

}

.logout {
    font-size: 12px;
}

.logout:hover {
    color: #CA0C16;
}