<div>
  <div class="icon">
    <nz-avatar nzSize="128" nzIcon="user" class="avatar"></nz-avatar>
  </div>
  <div class="name">{{name}}</div>
  <div class="line"></div>
  <div class="info" nz-row>
    <div nz-col nzSpan="6" class="data-col">
      <div class="data">
        <div>原创</div>
        <div class="data-conent">125</div>
      </div>
    </div>
    <div nz-col nzSpan="6" class="data-col">
      <div class="data">
        <div>粉丝</div>
        <div class="data-conent">125</div>
      </div>
    </div>
    <div nz-col nzSpan="6" class="data-col">
      <div class="data">
        <div>喜欢</div>
        <div class="data-conent">125</div>
      </div>
    </div>
    <div nz-col nzSpan="6" class="data-col">
      <div class="data">
        <div>评论</div>
        <div class="data-conent">125</div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="action" nz-row>
    <div nz-col nzSpan="12" class="button">
      <div class="attent">关注</div>
    </div>
    <div nz-col nzSpan="12" class="button">
      <div class="attent">留言</div>
    </div>
  </div>
</div>