<div class="card-wrapper">
  <div class="card-title card-common">{{blog.title}}</div>
  <markdown class="card-content card-common" [data]="blog.summary|stringSubPipe:100"></markdown>
  <div class="card-footer card-common" nz-cow>
    <div nz-col nzSpan="16" class="card-footer-left">
      <img class="card-footer-left card-avatar" src="{{blog.user.avatar}}"/>
      <span class="card-footer-left card-name">{{blog.user.username}}</span>
      <span class="card-footer-left card-point"></span>
      <span class="card-footer-left card-footer-left">{{blog.updatetime}}</span>
    </div>
    <div nz-col nzSpan="8" >
        <span class="card-footer-right"><span class="card-num"></span>评论</span>
        <span class="card-footer-right card-point"></span>
        <span class="card-footer-right"><span class="card-num">{{blog.view}}</span>阅读</span>
    </div>
  </div>
</div>
<div class="line"></div>