.card-wrapper {
    height: 124px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.card-common {
    background: #fff;
    height: 32px;
    width: 100%;
    line-height: 32px;
    color: #3d3d3d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-title {
    font-size: 22px;
    font-weight: 900;
}

.card-content {
    margin-bottom: 1px;
    marker-start: 5px;
    display: inline-block;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow:ellipsis;
}

.card-footer {
    width: 100%;
    margin-bottom: 1px;
}
.card-footer-left {
    float: left;
}
.card-footer-right {
    float: right;
}
.card-avatar {
   height: 32px;
   width: 32px;
}

.card-name {
    margin-left: 10px;
}

.card-num {
    color: #349edf;
    margin-right: 5px;
}

.card-point {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #adadad;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 3px;
}