.message {
    padding: 5px;
}
.message-item {
    
}

.message-title {
    height: 40px;
    line-height: 40px;
    background: rgba(238, 238, 238, 0.5);
}

.source-user {
    color: #CA0C16;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
    
}

.message-content{
    font-size: 14px;
    text-indent:28px;
    padding: 5px;
}

.message-time {
    display: flex;
    justify-content: flex-end;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}