<div class="clearfix">
  <div class="ng-tns-c3-0 ant-upload-list ant-upload-list-picture-card ng-star-inserted" *ngFor="let source of sources">
    <div class="ant-upload-list-item ant-upload-list-item-done">
      <div class="ant-upload-list-item-info" nzTitle="{{source.name}}" nzPlacement="bottom" nz-tooltip>
          <i *ngIf="source.type == 0" class="source-item source-text fa fa-file-text-o" ></i>
        <span class="ng-tns-c3-0 ng-star-inserted" *ngIf="source.type == 1">
          <i class="ant-upload-list-item-thumbnail ng-tns-c3-0 ng-star-inserted">
            <img class="ng-tns-c3-0" src="{{source.url}}">
          </i>
        </span>
        <i *ngIf="source.type == 2" class="source-item source-audio fa fa-file-audio-o"></i>
        <i *ngIf="source.type == 3" class="source-item source-video fa fa-file-video-o"></i>
        <i *ngIf="source.type == 4" class="source-item source-zip fa fa-file-zip-o"></i>
      </div>
      <span class="ant-upload-list-item-actions ng-tns-c3-0 ng-star-inserted">
        <a rel="noopener noreferrer" target="_blank" class="ng-tns-c3-0 ng-star-inserted" ng-reflect-ng-style="false"
          href="{{source.url}}" title="预览文件">
          <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c3-0" data-icon="eye-o"
            aria-hidden="true">
            <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 
              838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 
              279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 
              288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
          </svg>
        </a>
        <i class="anticon anticon-delete ng-tns-c3-0 ng-star-inserted" title="删除文件" (click)="remove(source)">
          <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c3-0">
            <path d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 
            72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 
            8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z"></path>
          </svg>
        </i>
      </span>
    </div>
  </div>
  <nz-upload nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="true" [nzRemove]="remove"
    [nzShowUploadList]="true" [nzPreview]="handlePreview" [nzCustomRequest]="customReq">
    <i nz-icon type="plus"></i>
  </nz-upload>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
    </ng-template>
  </nz-modal>
</div>