
<div class="parentWrap">
  <div class="parent" >
    <div  [class.child]="editable === true" [class.fullChild]="editable === false">
      <div class="markdownParent" #divTarget>
          <markdown class="markdown" [data]="blog.content"></markdown>
          <nz-button-group class="markdown_control">
              <button nz-button nzType="primary" (click)="edit()"><i nz-icon type="left"></i>编辑</button>
              <button nz-button nzType="primary" (click)="review()">预览<i nz-icon type="right"></i></button>
            </nz-button-group>
            <nz-back-top [nzTarget]="divTarget"></nz-back-top>
      </div>
    </div>
    <div class="child" *ngIf="editable">
      <textarea class="input" nz-input [(ngModel)]="blog.content" placeholder="请编辑博客内容,遵循MarkDown语法" #divTarget>
      </textarea>
      <button nz-button nzType="primary" (click)="save()" class="save">保存</button>
      <nz-back-top [nzTarget]="divTarget"></nz-back-top>
    </div>
  </div>
  <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="请输入博客标题" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
      <textarea nz-input [(ngModel)]="blog.title" placeholder="请输入标题" nzAutosize></textarea>
    </nz-modal>
</div>