.home-layout {
    height: 100%;
    background: #eee;
}
.home-header{
    height: 48px;
    width: 100%;
    background: #fff;
}

.home-content {
    width: 100%;
    height: calc(100vh - 106px);
    margin-top: 10px;
}

.home-footer {
    height: 48px;
    margin-top: -48pxs;
    width: 100%;
}

.content-left{
    background: #fff;
    min-height: 60%;
    margin-right: 20px;
}
.userinfo {
    text-align: center;
}
.content-middle {
    background: #0f0;
    height: 100%;
}
.content-right {
    height: 100%;
    margin-left: 20px;
    background: #0f0;
}
