.home-layout {
    height: 100%;
    background: #eee;
}
.home-header{
    height: 48px;
    width: 100%;
    background: #fff;
}

.home-content {
    width: 100%;
    height: calc(100vh - 68px);
    margin-top: 10px;
    margin-bottom: 21px;
    display: flex;
}

.home-footer {
    float: right;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    z-index: 9999;
    padding-right: 10px;
    text-align:right;
}

.userinfo-warpper {
    background: #fff;
    /* min-height: 60%; */
}

.content-left{
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
}
.userinfo {
    text-align: center;
}
.content-middle {
    background: #fff;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 10px;
    margin-right: 10px;
    flex: 2;
}

.content-middle::-webkit-scrollbar {
    display: none;
}
.content-right {
    height: 100%;
    margin-left: 10px;
    margin-right: 20px;
    background: #fff;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.content-right::-webkit-scrollbar {
    display: none;
}
