<nz-layout class="home-layout">
  <nz-header class="home-header">
    <app-header #header [avatar]="avatar" (header)="headerHeaderClick($event)"></app-header>
  </nz-header>
  <div nz-row nzType="flex" nzJustify="center"  class="home-content">
    <div nz-col nzSpan="5" class="content-left">
      <app-userinfo class="userinfo"></app-userinfo>
    </div>
    <div nz-col nzSpan="12" class="content-middle">
      <app-blog-list></app-blog-list>
    </div>
    <div nz-col nzSpan="5" class="content-right">col-8</div>
  </div>
  <div class="home-footer"><a href="https://github.com/chenls520" target="_blank"><span style=" color: #CA0C16; font-style:italic;"> 网站源码,欢迎 star</span></a></div>
</nz-layout>